.backLink{
    display: block;
    width: 100px;
}
.backLinkContainer{
    display: flex;
    align-content: center;
    margin: 10px;
    width: 100%;
  
}
.backLinkCapture{
  margin-left:5px;
}
.movieDetailsCard {
    display:flex;
}

.movieDetailsCard > img {
    display: block;
    height: 400px;
    width:auto;

}

.movieDetailsInfo {
    margin: 10px;
}

.capture {
    font-weight: bold;
}